<% @posts.each do |p| %>
    <div class="post">
      <p>Title: <%= p.title %></p>
      <p>Content: <%= p.content %></p>
      <p><%= image_tag p.image.url :large_thumb %></p>
      <p>
        <%= link_to "edit", edit_post_path(p) %> |
        <%= link_to "delete", p, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </p>
    </div>

<hr/>
<% end %>
<%= will_paginate @posts, :params => {:action => 'index', :controller => 'posts' } %>
