<!DOCTYPE html>
<html>
<head>
  <title>RailsPlayground</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container main_wrapper">
<%= yield %>
</div>
<%= javascript_include_tag "application" %>
<%= yield :javascripts %>
</body>
</html>
